:root {
    --primary-clr-1: #81302c;
    --primary-clr-2: #ccccd9;
    --primary-clr-3: #44514b;
    --primary-clr-4: #151418;
    --primary-clr-5: #1c2f5c;
}
/*----Login---*/
.login {
    text-transform: capitalize;
}
.video {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
}
.login__header {
    letter-spacing: 4px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
    left: 38%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .name {
    letter-spacing: 2px;
    color: #fff;
    display: none;
}
.login__header h1{
    font-size: 6rem;
}
.login__header .center-line {
    height: 0;
    margin: 25px 0;
    width: 4px;
    background-color: #fff;
}
.login__header .icon {
    display: grid;
    place-items: center;
    font-size: 8rem ;
    color: #fff;
}
@media screen and (min-width: 900px) and (max-width: 1120px) {
.login__header {
    transform: translateY(-50%);
    left: 5%;
    letter-spacing: 2px;
}
}
@media screen and (max-width: 900px) {
.login .name {
    display: block;
}
.login__header {
    display: none;
}
}
/*----LoginForm----*/
.loginForm {
    color: var(--primary-clr-3);
    background-image: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    border-radius: 10px;
    backdrop-filter: blur(15px);
    padding: 3rem 5.5rem;
    right: 8%;
    bottom: 50%;
    transform: translateY(50%);
    position: fixed;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}
.loginForm h1 {
    font-weight: 500;
    margin-bottom: 1rem ;
}
.loginForm .icon {
    color: var(--primary-clr-1);
    padding: 0 12px;
    margin: 0 auto;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    font-size: 5rem ;
    margin-bottom: 0.5rem;
}
.loginForm input {  
    color: #151418;
    border: 0;
    padding: 5px 10px;
    margin-bottom: 1.2rem;
    border-radius: 5px;
}
.loginForm .buttons {
    display: flex;
    justify-content: space-around;
}
.loginForm button {
    cursor: pointer;
    border: 0;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--primary-clr-3);
    border-radius: 2rem;
}
.loginForm .sIBtn {
    background-color: var(--primary-clr-5);
    color: var(--primary-clr-2);
}
.loginForm .sIBtn:hover {
    color: #fff;
}
.loginForm .sUBtn:hover {
    color: #81302c;
}
@media screen and (max-width: 900px) {
.loginForm {
    width: 60vw;
    height: 60vh;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}
.loginForm .icon {
    margin-bottom: 4rem;
}
}
@media screen and (max-width: 510px) {
    .loginForm {
        width: 100vw;
        padding: 10px 10px;
    }
    .loginForm h1 {
        font-size: 2rem;
    }
}
