:root {
  --primary-clr-1: #81302c;
  --primary-clr-2: #ccccd9;
  --primary-clr-3: #44514b;
  --primary-clr-4: #151418;
  --primary-clr-5: #1c2f5c;
}
/*Container*/
.hotProduct-container {
    display: grid;
    place-items: center;
    height: 90vh;
}
/*Nav Bar*/
.nav-bar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem 0;
    width: 100vw;
    display: flex;
    white-space: nowrap;
    align-items: center;
    box-shadow: 0 0 10px 2px #ccc;
}
.nav-bar__heading .icon {
    display: none;
}
.nav-bar h1 {
    margin-left: 1.5rem;
    color: var(--primary-clr-3);
    letter-spacing: 3px;
}
.nav-bar__links {
    flex: 1;
    justify-content: space-evenly;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav-bar__links a {
    color: #14203E;
    display: flex;
    flex-direction: center;
    text-decoration: none;
}
.nav-bar__links .icon {
    font-size: 2.5rem;
    margin-left: 1rem;
    color: var(--primary-clr-5);
    display: grid;
    place-items: center;
}
.nav-bar button {
    margin-right: 1rem;
    cursor: pointer;
    background-color: #F6F0E8;
    letter-spacing: 2px;
    font-size: 1.7rem;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
}
.nav-bar button a {
    color: #000;
    text-decoration: none;
}
.nav-bar button:hover a{
    color: #fff;
}
.nav-bar__links a:hover {
    color: var(--primary-clr-1);
}
.cross-icon {
    cursor: pointer;
    display: none;
    place-items: center;
    color: #1c2f5c;
    position: fixed;
    top: 3%;
    left: 3%;
    font-size: 5rem;
}
@media screen and (min-width: 850px) and (max-width: 1000px) {
.nav-bar {
    font-size: 80%;
}
.nav-bar button {
    font-size: 80%;
}
}
/*On Mobile*/
@media screen and (max-width: 850px) {
.nav-bar {
    transition: all 1s ease;
    background-color: #fff;
    overflow: hidden;
    min-height: 100vh;
    border-radius: 5px;
    max-width: 320px;
    flex-direction: column;
}
.nav-bar--collapsed {
    width: 0;
}
.nav-bar__heading {
    margin-bottom: 6rem;
    gap: 4rem;
    display: flex;
    flex-direction: row;
}
.nav-bar__heading .icon {   
    color: var(--primary-clr-1);
    margin-right: 1rem;
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 4rem;
}
.nav-bar__links {
    justify-content: flex-start;
    padding-left: 1rem;
    gap: 4rem;
    width: 100%;
    text-align: start;
    flex-direction: column;
    margin-bottom: 5rem;
}
.cross-icon {
    display: grid;
    place-items: center;
    color: #1c2f5c;
    position: fixed;
    top: 3%;
    left: 3%;
    font-size: 5rem;
    transform: rotate(0deg);
    transition: all 0.5s ease;
}
.cross-icon:hover {
    transform: rotate(90deg);
}
}

/*----Hero----*/
.hero {
    background-color: #FFFCF8;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;    
    gap: 4rem;
    justify-content: center;
    align-items: center;
}
.hero__content {
    padding-top: 10rem;
    line-height: 1.2;
    max-width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.hero__content h1 {
    color: #14203E;
    font-size: 4rem;
    margin-bottom: 3rem;
}
.hero__content p {
    color: #14203E;
}
.hero button {
    letter-spacing: 2px;
    cursor: pointer;
    background-color: #14203E;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 5rem;
    padding: 20px 10px;
}
.hero button a {
    color: #ccc;
    text-decoration: none;  
}
.hero button:hover a {
    color: #fff;
}
@media screen and (min-width:768px) and (max-width: 1024px) {
    .hero__content {
        max-width: 70vw;
    }
}
@media screen and (max-width: 768px) {
.hero {
    height: 100vh;
}
.hero__content {
    max-width: 90vw;
}
.hero__content h1 {
    font-size: 3rem;
}
.hero__content p {
    font-size: 2rem;
}
}
/*----Hot Product----*/
.hotProduct__heading {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.hotProduct__heading .left-line{
    margin-right: 15px;
    width: 250px;
    height: 0.1px;
    background-color: #14203E;
}
.hotProduct__heading .right-line{
    margin-left: 15px;
    width: 250px;
    height: 0.1px;
    background-color: #14203E;
}
@media screen and (max-width: 700px) {
    .hotProduct__heading .left-line {
        width: 100px;
    }
    .hotProduct__heading .right-line {
        width: 100px;
    }
}
@media screen and (max-width: 375px) {
    .hotProduct__heading .left-line {
        width: 50px;
    }
    .hotProduct__heading .right-line {
        width: 50px;
    }
}
/*-----AutoSlider-----*/
.autoSlider {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 20px 3px #ccc;
    text-align: center;
    margin: 0 auto;
    width: 95vw;
    max-width: 600px;
    height: 400px;
}
.autoSlider .back-icon {
    z-index: 10;
    cursor: pointer;
    color: #14203E;
    font-size: 3rem;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.autoSlider .back-icon:hover {
    color: lightskyblue;
}
.autoSlider .next-icon {
    z-index: 10;
    cursor: pointer;
    color: #14203E;
    font-size: 3rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.autoSlider .next-icon:hover {
    color: lightskyblue;
}
/*----BookCard----*/
.bookCard {
    transition: all 0.6s ease;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bookCard--cur {
    transform: translateX(0);
}
.bookCard--next {
    visibility: hidden;
    transform: translateX(100%);
}
.bookCard--last {
    visibility: hidden;
    transform: translateX(-100%);
}
.bookCard img {
    height: 150px;
    width: 120px;
    object-fit: cover;
    margin-bottom: 2rem;
}
.bookCard__author {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}
.bookCard__description {
    font-size: 1.5rem;
}
@media screen and (max-width: 425px) {
    .bookCard__description {
        font-size: 1.2rem;
    }
}
/*----About----*/
.about {
    padding-top: 5px;
    background-color: rgb(246, 240, 232);
}
.about__heading {
    letter-spacing: 4px;
    text-align: center;
    color: var(--primary-clr-5);
    margin: 20px 0 30px 0;
}
.about__members {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
/*----PersonCard----*/
.personCard {
    max-width: 400px;
    border-radius: 10px;
    padding: 0 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.personCard__img {
    margin-top: 2rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.personCard__content {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2rem;
}
.personCard__content h2 {
    margin-top: 20px;
    color: #E0DAB0;
    font-size: 2rem;
    letter-spacing: 4px;
}
.personCard__content h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--primary-clr-3);
}
@media screen and (max-width: 700px) {
    .about {
        max-height: 400px;
        overflow: scroll;
    }
    .about__members {
        overflow: scroll;
        margin: 0 auto;
        max-width: 500px;
        flex-direction: column;
    }
}